<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'vets')}">

<body>

<h2>Veterinarians</h2>

<table id="vets" class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Specialities</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="vet" type="guru.springframework.sfgpetclinic.model.Vet"*/-->
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.id}">1</td>
        <td th:text="${vet.firstName}">Joe</td>
        <td th:text="${vet.lastName}">Buck</td>
        <td><span th:each="specialty : ${vet.specialties}"
                  th:text="${specialty.description + ' '}" /> <span
                th:if="${vet.nrOfSpecialties == 0}">none</span></td>
    </tr>
    </tbody>
</table>
</body>
</html>
